{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>City Explorer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">
        <div class="row vh-100 align-items-stretch">
            <div class="col-md-2 border">
                <div class="container mt-2">
                    <form method="POST" enctype="multipart/form-data">
                        <legend class="border-bottom mb-4">
                            City Explorer
                        </legend>
                        {% csrf_token %}
                        {{ addressform|crispy }}
                        {{ searchform|crispy }}
                        {{ pathform|crispy }}
                        <button class="btn btn-success" type="submit">Submit</button>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">{{message}}</div>
                        {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="col-md-10 border mt-2">
                {{map|safe}}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            // Hide the "amenity" field initially
            $("#amenity_filters").hide();

            // Show/hide the "amenity" field based on the selection of the "tourism" field
            $("#tourism_filters").change(function () {
                var selectedValue = $(this).val();
                if (selectedValue === "no") {
                    $("#amenity_filters").show();
                } else {
                    $("#amenity_filters").hide();
                }
            });
        });
    </script>
</body>

</html>
